{% if paginator.num_pages > 1 %}
  <nav aria-label="Page navigation">
  <ul class="pagination">
    {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
    {% endif %}
    {% if page_obj.has_next %}
      <div id="next-page"><a href="?page={{ page_obj.next_page_number }}">&gt;</a></div>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
    {% endif %}
      {% for pn in paginator.page_range %}
        {% if page_obj.number != pn %}
          <a href="?page={{ pn }}">
            <li class="page-item"><a class="page-link" href="?page={{ pn }}">
        {% endif %}
        {{ pn }}
        {% if page_obj.number != pn %}
          </a></li>
        {% endif %}
      {% endfor %}
  </ul>
  </nav>
{% endif %}


