{% extends 'base.html' %}
{% block title %}Главная{% endblock %}

{% block content %}
    <div class="container form-cont">
        <div class="form-lr">
            <form action="" method="post" class="form-control">
                <h2>Удалить проект</h2>
                {% csrf_token %}
                <p>Вы точно уверены что хотите удалить проект?</p>
                <div class="submit-button">
                    <input type="submit" value="Удалить" class="btn btn-lg btn-primary btn-block">
                </div>
            </form>
        </div>
    </div>
{% endblock %}